/*
 Developer: Nhi Nguyen
 Cesoft co., ltd
*/

/**
 For Smatphone
**/
@media (max-width: 360px) {
    body{}
    
    .slider_title h2{
        font-size: 19px;
        margin: 0;
    }
    .view-home-slider .flexslider{
        margin: 0 0 20px;
    }
    .view-home-slider .field-name-field-slide-summary{
        line-height: 18px;
    }
    
    
    
}

/*the and max-width:360*/

@media(max-width: 479px) {
    body{}
    /*header*/
    .announce-bar{
        display: none;
    }
    #navbar .logo img {
        max-width: 160px;
    }
    .region-header-mid-right .link-list{
        padding-left: 0;
        text-align: left;
    }
    .region-header-mid-right .link-list > li{
        margin-bottom: 10px;
    }
    .region-header-mid-right .link-list li.has-flyout-cart{
        margin: 0;
    }
    .link-list li.dropdown .dropdown-menu{
        min-width: 200px;
        right: -30px;
        max-width: 250px;
    }
    .user-login-form:before, .user-login-form:after{
        left: 13%;
    }
    .victoria-title{
        font-size: 16px;
    }
    #profile-flyout .user-login-form input.form-submit{
        width: 100%;
    }
    /*header search*/
    .nav-mobileheader .views-exposed-form .views-exposed-widgets{
        margin: 10px auto;
        text-align: center;
        padding-bottom: 20px;
        padding: 10px;
    }
    .nav-mobileheader .views-exposed-form .form-control{
        background: #fff;
        width: 100%;
    }
    .nav-mobileheader .views-exposed-form .views-exposed-widgets .views-widget-filter-field_product_category{
        display: none;
    }
    .nav-mobileheader .views-exposed-form .views-exposed-widget{
        width: 70%;
        float: none;
        padding: 5px 0;
    }
    .nav-mobileheader .views-exposed-form .views-exposed-widget.views-submit-button{
        width: 28%;
    }
    .nav-mobileheader .views-exposed-form .views-exposed-widget .form-submit {
        margin-top: 0;
         width: 100%;
    }
    /*slide*/
    .front .flex-direction-nav .flex-prev{
        left: 0!important;
    }
    .front .flex-direction-nav .flex-next{
        right: 0!important;
    }
    .view-home-slider .field-name-field-slide-summary{
        display: none;
    }
    .view-home-slider .flex-caption .slider_text_box {
        width: 80%;
        top: 10%;
        left: 10%;
    }
    .view-home-slider .slider_title{
        padding-top: 22%;
    }
    .view-home-slider .flex-direction-nav a{
        height: 50px;
    }
    .view-home-slider .field-name-field-image img {
        height: 100%;
        max-height: 200px;
    }
    .view-home-slider .slider_title a{
        font-size: 18px;
    }
    .block-megamenu {
        display: none;
    }
    .category-product-home .views-row{
        width: 100%;
    }
    .page-user-register #user-register-form .form-item label, 
    .page-user-register #user-register-form .field-name-field-birthday legend{
        width: 100%;
    }
    #user-register-form .field-relative,.page-user-register .field-name-field-gender- .form-select,
    .page-user-register #user-register-form .field-name-field-birthday .fieldset-wrapper{
        width: 100%;
    }
    /*.jcarousel-container .jcarousel,.slider-product ul.jcarousel li.jcarousel-item{
        width: 100%!important;
    }*/
    .slider-product .jcarousel-container{
        padding: 10px 25px !important;
    }
    .slider-product .jcarousel-prev,.slider-product .jcarousel-skin-default .jcarousel-prev-horizontal:hover {
        background-position: left -53px;
    }
    .slider-product .jcarousel-clip{
        margin-left: -19px;
    }
    .slider-product .jcarousel-next,.slider-product .jcarousel-skin-default .jcarousel-next-horizontal:hover  {
        background-position: left -20px;
    }
    
    .jcarousel-skin-default .jcarousel-prev-horizontal{
        left: -10px;
    }
    .jcarousel-skin-default .jcarousel-next-horizontal{
        right: -10px;
    }
    .slider-product .jcarousel-container a.jcarousel-prev, .slider-product .jcarousel-container a.jcarousel-next{
        background-size: 90% auto;
        height: 33px;
        width: 35px;
        top: 30%;
    }
    .feature-brands img{
        width: 45%!important;
        padding: 15px;
        display: inline-block;
    }
    .category-product-home .field-name-field-category-image{
        margin-bottom: 20px;
    }
    .field-name-field-category-image img{
        width: 100%;
    }
    /*node product*/
    
    .view-related-product1 h2, .block-related-product-block h2.block-title,.block-views h2{
        font-size: 25px;
    }
    .product-list-content .operate-wrap .add-cart-product{
        display: block;
    }
    .view-header .top-pager{
        display: none;
    }
    .search-product .filter-by div.dropdown,.promotions .views-row,.views-row.col-sm-3{
        width: 100%;
    }
    .thumb-wrap .quick-bar{
        display: none;
        opacity: 0;
    }
    
    /*Quick View*/
    .node-product-type-colorbox .product-top .catalog-detail-img-show-box{
        margin-bottom: 20px;
    }
    .node-product-type-colorbox .product-top .catalog-detail-img-show-box #wrap{
        width: 78%;
        float: left;
    }
    .node-product-type-colorbox .product-top .catalog-detail-img-show-box .cloud-zoom-gallery-thumbs{
        width: 20%;
        float: left;
        margin-right: 1%;
    }
    .node-product-type-colorbox .product-top .catalog-detail-img-show-box .cloud-zoom-gallery-thumbs img{
        width: 100%;
        height: auto;
    }
    /*messages cart*/
    div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper{
        bottom: 0;
    }
    .commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-header{
        width: 100%;
    }
    div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content{
        width: 100%!important;
        padding-top: 0;
    }
    div.messages .entity-commerce-product .field-name-field-images {
        display: none;
    }
    .commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-header{
        position: relative;
    }
    div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content{
        height: auto;
    }
    .view-confirm-message-product-display .top-sep.quantity-price {
        padding-left: 0;
    }
    .entity-commerce-product .cart_group{
        clear: both;
    }
    /*FILTER BY*/
    .search-product .dropdown .dropdown-menu,.search-product .dropdown .content-wrap .content-ugly-truth{
        left: 0;
        right: auto;
    }
    /*product*/
    
    .view .respond-row{
        width: 100%;
    }
    .respond-row .product-list-content{
        height: auto;
    }
    /*log in*/
    .not-logged-in.page-user #user-login, #user-pass{
        width: 100%;
    }
    .field-relative input{
        background: #fff;
    }
    
    /*footer*/
    .footer-top-left,.footer-top-center,.footer-top-right{
        margin: 0 auto;
        width: 60%;
    }
    .width-full{
        display: inline-block;
        vertical-align: top;
        float: none;
        width: 48%;
    }
    .section-footer .width-full h2{
        font-size: 18px;
    }
}

/*The and (max-width:479)*/

@media(max-width: 767px) {
    body{}
    .nav-mobileheader .views-exposed-form .views-exposed-widgets{
        background: #eee;
        padding-top: 10px;
    }
    div.messages.commerce-add-to-cart-confirmation{
        position: unset!important;
    }
    div.messages.commerce-add-to-cart-confirmation .message-inner {
        left: 10%;
        top: 15%;
        width: 80%;
        min-height: 350px;
    }
    div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper{
        height: auto;
        padding-bottom: 0;
        padding-top: 20px;
        width: 100%;
        bottom: 0;
    }
    .view-cart-message .line-item-summary .line-item-quantity{
        margin-left: 0;
        margin-top: 0;
    }
    div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title{
        margin-top: 115px;
        width: 100%;
    }
    .view-cart-message .view-footer .line-item-total{
        margin-left: -68px;
    }
    .message-inner > .added-product-title{
        display: none;
    }
    div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-footer{
        padding: 10px;
    }
    div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-footer .my-cart-message{
        float: left;
        font-weight: bold;
    }
    /*.product-top .catalog-detail-img-show-box.img-show-box{
        display: none!important;
    }*/
    .node-product-type .product-top .cloud-zoom-gallery-thumbs{
        margin: 10px 0;
    }
    .node-product-type .product-top .prd-right  {
        clear: both;
        margin-top: 30px;
        padding-top: 20px;
    }
    
    .header-top-left,.search-products {
        display: none;
    }
    .page-user-register #user-register-form  #edit-field-newsletter label{
        width: 80%;
    }
    /*menu*/
    ul.megamenu-menu .megamenu-parent ul.megamenu-slots-columnar li.megamenu-slot{
        float: none;
        display: block;
        border: none;
        width: 100%;
    }
    .search-product {
        text-align: left;
    }
    .search-product .filter-by {
        text-align: left;
    }
    .search-product .dropdown {
        margin: 10px 10px 10px 0;
        
    }
    .nav-mobileheader form {
        clear: both;
        margin: 10px auto;
        text-align: center;
    }
    .zone-menu-sub{
        float: none;
        width: 100%;
    }
    .zone-menu-sub #block-menu-secondary-navigation ul.menu li{
        display: block;
    }
    .zone-menu-sub #block-menu-secondary-navigation ul.menu li a{
        color: #fff;
    }
    #block-menu-secondary-navigation ul.menu li a:link, #block-menu-secondary-navigation ul.menu li a:visited{
        padding: 10px 15px;
        font-size: 13px;
    }
    .nav-mobileheader .views-exposed-form .views-exposed-widget{
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .nav-mobileheader .views-exposed-form .views-exposed-widget .form-submit {
        margin-bottom: 20px;
        margin-top: 0;
    }
    /*slider*/
    .most-popular {
        clear: both;
        margin-bottom: 20px;
    }
    .page-checkout #commerce-checkout-form-checkout .account, .page-checkout #commerce-checkout-form-checkout .cart_contents,
    .page-checkout #commerce-checkout-form-checkout .customer_profile_billing,
    #commerce-checkout-form-review .commerce_payment,#commerce-checkout-form-review .checkout_review,
    .page-checkout #commerce-checkout-form-checkout #commerce-checkout-coupon-ajax-wrapper .commerce_coupon,
    .page-checkout #commerce-checkout-form-checkout #customer-profile-shipping-ajax-wrapper .customer_profile_shipping,
    .page-checkout-shipping #block-system-main{   
        width: 100%;
        float: none;
    }
    
    
}

/*The and (max-width:767)*/

@media (min-width: 480px) and (max-width: 767px) {
   body{}
   
    /*slide*/
    .front .view-home-slider .slider_text_box{
        width: 80%;
        left: 10%;
        right: 0;
    }
    .front .view-home-slider .slider_title a{
        font-size: 20px;
    }
    .not-logged-in.page-user #user-login, #user-pass{
        width: 80%;
    }
    .page-user-register #user-register-form .form-item label, 
    .page-user-register #user-register-form .field-name-field-birthday legend{
        width: 34%;
    }
    #user-register-form .field-relative,.page-user-register .field-name-field-gender- .form-select,
    .page-user-register #user-register-form .field-name-field-birthday .fieldset-wrapper{
        width: 60%;
    }
    .commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-header{
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content{
        width: 100%!important;
        height: auto;
        overflow: hidden;
    }
    div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .content .field-name-field-images{
        width: 109px;
        float: left;
    }
    .entity-commerce-product .cart_group{
        float: left;
        width: 65%;
    }
    .entity-commerce-product .cart_group,
    .view-cart-message .view-footer .line-item-summary{
        float: left;
    }
    .view-confirm-message-product-display .top-sep.quantity-price {
        padding-left: 0;
        float: left;
    }
    /*nav-mobileheader*/
    .views-widget-filter-search_api_views_fulltext{
        width: 40%;
    }
    /*footer*/
    .footer-top-left,.footer-top-center,.footer-top-right{
        display: inline-block;
        vertical-align: top;
        width: 32%;
    }
    .section-footer .block h2 {
        font-size: 16px;
        
    }
   
}

/**
 For Tablet
**/

@media (min-width: 768px) and (max-width: 991px) {
   body{}
   /*front*/
   #block-menu-secondary-navigation ul.menu li a:link, #block-menu-secondary-navigation ul.menu li a:visited{
        padding: 0 8px;
        font-size: 15px;
   }
   .block-megamenu ul li a:link, .block-megamenu ul li a:visited{
        padding: 10px 5px;
   }
   .product-list-content {
        min-height: 100px;
        height: 120px;
    }
   .search-product {
        text-align: left;
   }
   .filter-search h2{
        margin-bottom: 20px;
    }
    .commerce-add-to-cart input.form-submit{
        padding: 6px;
    }
    .search-product .dropdown.category-filter .dropdown-menu{
        right: auto;
        left: 0;
    }
    .search-product .dropdown.category-filter .content-wrap .content-ugly-truth{
        left: 0;
    }
    .block-current-search{
        width: 70%;
    }
    .page-products .top-pager{
        width: auto;
    }
   
}

/**
 For Desktop - 1024px
**/


@media (min-width: 992px) and (max-width: 1199px) {
    body{} 
    .cloud-zoom-gallery-thumbs{
        width: 19%;
    }
    .cloud-zoom-container #wrap{
        width: 80%;
    }
}

/**
 For Desktop - More than 1200px
**/
@media (max-width: 1200px) {
  body{} 
  
  
}
/*menu*/
.navbar-toggle{
     margin: 0;
    position: absolute;
    right: 15px;
    top: 20px;
}
.navbar-toggle .icon-bar{
    background: none repeat scroll 0 0 #1dade5;
}
.nav-mobileheader {
    background: #333333 none repeat scroll 0 0;
    margin-left: -15px;
    margin-right: -15px;
}
.nav-mobileheader ul.menu li a{
    color: #fff;
}
.navbar-default .nav-mobileheader .navbar-nav>.active>a, .navbar-default .nav-mobileheader .navbar-nav>.active>a:focus, 
.navbar-default .nav-mobileheader .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #ef8d30;
}
.navbar-default .nav-mobileheader .navbar-nav .open .dropdown-menu>li>a{
    color: #fff;
}
.navbar-default .nav-mobileheader .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .nav-mobileheader .navbar-nav .open .dropdown-menu>li>a:active{
    color: #ef8d30;
}

.cloud-zoom-gallery-thumbs {
    width: 16%;
}
.cloud-zoom-gallery-thumbs a img{
    width: 82%;
    display: block;
    margin: 0 0 20px;
    height: auto;
}
.cloud-zoom-container .cloud-zoom-big{
    background: url(http://www.victoria.my/sites/all/libraries/cloud-zoom/blank.png) repeat 0 0 #f8f8f8;
}